{% load static %}

<!-- Subscribe section -->
<section id="aa-subscribe">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-subscribe-area">
                    <h3>Subscribe our newsletter </h3>
                    <p>Sign up for Cash Ur Hobby updates to receive information about new arrivals, future events and specials.</p>
                    <form action="" class="aa-subscribe-form">
                        <input type="email" name="" id="enter_email" placeholder="Enter your Email">
                        <input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Subscribe section -->
<!-- footer -->
<footer id="aa-footer">
    <!-- footer bottom -->
    <div class="aa-footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-footer-top-area">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="aa-footer-widget">
                                    <h3>Main Categories</h3>
                                    <ul class="aa-footer-nav">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Our products</a></li>
                                        <li><a href="aboutus.html">About us</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <!-- <li><a href="#"></a></li> -->
                                    </ul>
                                </div>
                            </div>
                            <!-- <div class="col-md-3 col-sm-6">
                <div class="aa-footer-widget">
                  <div class="aa-footer-widget">
                    <h3>Knowledge Base</h3>
                    <ul class="aa-footer-nav">
                      <li><a href="#">Delivery</a></li>
                      <li><a href="#">Returns</a></li>
                      <li><a href="#">Services</a></li>
                      <li><a href="#">Discount</a></li>
                      <li><a href="#">Special Offer</a></li>
                    </ul>
                  </div>
                </div>
              </div> -->
                            <div class="col-md-4 col-sm-6">
                                <div class="aa-footer-widget">
                                    <div class="aa-footer-widget">
                                        <h3>Customer Support</h3>
                                        <ul class="aa-footer-nav">
                                            <li><a href="terms-use.html">Terms of use</a></li>
                                            <li><a href="Return-policy.html">Returns and cancellation policy</a></li>
                                            <li><a href="shipping-policy.html">Shipping policy</a></li>
                                            <li><a href="privacy.html">Privacy policy</a></li>
                                            <li><a href="FAQ.html">FAQ</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="aa-footer-widget">
                                    <div class="aa-footer-widget">
                                        <h3>Registered Office</h3>
                                        <address>
                      <p>CashurHobby</p>
                      <p>Survey no 220, 5th floor, om plaza, maan road,</p>
                      <p>Hinjewadi phase 1, Pune - 411057</p>
                      <!-- <p><span class="fa fa-envelope"></span>dailyshop@gmail.com</p> -->
                    </address>
                                        <div class="aa-footer-social">
                                            <a href="#"><span class="fa fa-facebook"></span></a>
                                            <a href="#"><span class="fa fa-twitter"></span></a>
                                            <a href="#"><span class="fa fa-google-plus"></span></a>
                                            <a href="#"><span class="fa fa-youtube"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom -->
    <div class="aa-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-footer-bottom-area">
                        <p>Copyright ©2020 All rights reserved | Designed and developed by <a href="http://nowriseup.co.in/" target="_blank"> NowRiseUp Business Solutions Pvt. Ltd.</a></p>
                        <div class="aa-footer-payment">
                            <span class="fa fa-cc-mastercard"></span>
                            <span class="fa fa-cc-visa"></span>
                            <span class="fa fa-paypal"></span>
                            <span class="fa fa-cc-discover"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- / footer -->