{% extends 'lib/base.html' %} {% load static %} {% block title %} Catagory details {% endblock title %} {% block stylesheet %} {{ block.super }}
<link rel="stylesheet" href="{% static 'css/catalog/cat_details.css' %}">
<!-- Toastr -->
<link rel="stylesheet" href="{% static 'plugins/toastr/toastr.min.css' %}"> {% endblock stylesheet %} {% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Catagory details</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Catagory details</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card card-primary card-tabs">
                <div class="card-header p-0 pt-1">
                    <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Category info </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Subcategories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-one-messages-tab" data-toggle="pill" href="#custom-tabs-one-messages" role="tab" aria-controls="custom-tabs-one-messages" aria-selected="false">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-one-settings-tab" data-toggle="pill" href="#custom-tabs-one-settings" role="tab" aria-controls="custom-tabs-one-settings" aria-selected="false">Featured products</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="custom-tabs-one-tabContent">
                        <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">

                            <!-- form start -->
                            <form id="update_catagory" enctype="multipart/form-data" method="POST" class="form-horizontal mx-5">
                                {% csrf_token %}
                                <div class="m-5">
                                    <div class="form-group row">
                                        <label for="cat_name" class="col-sm-2 col-form-label">Catagory Name <span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <input type="text" name="cat_name" title="Catagory Name" class="form-control" id="cat_name" value="{{update_catagory_form.cat_name.value}}" placeholder="catagory name">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="par_cat" class="col-sm-2 col-form-label">Parent category <span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <select name="par_cat" title="Parent Catagory" class="form-control" id="par_cat">
                                            {% for i in update_catagory_form.par_cat %}
                                            {{i}}
                                            {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="cat_tilte" class="col-sm-2 col-form-label">Show category title
                                        </label>
                                        <div class="col-sm-10">
                                            <select name="cat_title" title="Catagory title" class="form-control" id="cat_tilte">
                                                {% for i in update_catagory_form.cat_title %}
                                                    {{i}}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="cat_icon" class="col-sm-2 col-form-label">Category icon </label>
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="dropdown">
                                                        <img src="{{ update_catagory_form.cat_icon.value.url }}" alt="Category_icon" class="brand-image cat_icon elevation-2" width="100">
                                                        <div class="dropdown-content">
                                                            <a href="{{update_subcatagory_form.cat_icon.value.url}}" target="_blank" class="dropdown-item"> <i class="far fa-image"></i> View image</a>
                                                            <a><input type="file" name="cat_icon" id="cat_icon"></a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="id_cat_desc" class="col-sm-2 col-form-label">Description </label>
                                        <div class="col-sm-10">
                                            <!-- editor -->
                                            {{update_catagory_form.cat_desc |safe }}
                                            <!-- editor end -->
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="id_clr_url" class="col-sm-2 col-form-label">Clean URL </label>
                                        <div class="col-sm-10">
                                            <input type="text" name="clr_url" class="form-control" id="id_clr_url" value="{{update_catagory_form.clr_url.value}}" placeholder="Clean URL">
                                            <a href="{{update_catagory_form.clr_url.value}}"><b class="text-secondary">Result:</b> <small>{{update_catagory_form.clr_url.value}}</small></a>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="enabled" class="col-sm-2 col-form-label">Enabled </label>
                                        <div class="mt-1 col-sm-10">
                                            <div class="form-check">
                                                {% for i in update_catagory_form.is_enable %} {{i}} {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-4">
                                        <button type="submit" class="btn btn-info">Update</button>
                                        <button onclick="window.history.go(-1); return false;" class="btn btn-default float-right">Back</button>
                                    </div>
                                </div>
                            </form>
                            <!-- /.form 1 end -->

                        </div>
                        <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">

                            <div class="mx-5 mt-3">
                                <button id="add_subcat" class="btn btn-outline-primary border-secondary"> New Catagory</button>
                                <button id="save_subcat" class="btn btn-danger float-right">Save</button>
                            </div>
                            <div class="card mx-5 my-2">
                                <div class="card-header">
                                    <div class="card-title">Catagory</div>
                                    <div class="card-tools">
                                        <div class="input-group input-group-sm" style="width: 150px;">
                                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-default"><i
                                                        class="fas fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-hover text-nowrap">
                                        <thead class="text-center">
                                            <tr>
                                                <th colspan="4">Catagory</th>
                                                <th>Featured</th>
                                                <th>Subcat</th>
                                                <th colspan="2">Products <i class="fas fa-question-circle"></i></th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center">


                                            {% for i in sub_catagory %}
                                            <tr>
                                                <td class="px-1">
                                                    <!-- drag handle -->
                                                    <span class="handle">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                    <i class="fas fa-ellipsis-v"></i>
                                                    </span>
                                                </td>
                                                <td class="px-1">
                                                    <span id="enable_cat" class="text-success" style="cursor: pointer;" onclick="enable_subcatagory('{{i.id}}')">
                                                        <i class="fas fa-power-off"></i>
                                                    </span>
                                                </td>
                                                <td class="p-0 m-0">
                                                    <span>
                                                        <!-- <img src="{% static 'dist/img/AdminLTELogo.png' %}" width="50" alt=""> -->
                                                        <img src="{{i.cat_icon.url}}" width="50" alt="Catagory_Image" class="rounded">
                                                    </span>
                                                </td>
                                                <td class="border-right"><a href="{% url 'subcat_details' ID=i.id %}">{{i.cat_name}}</a></td>
                                                <td>
                                                    <span>
                                                        <i class="text-warning fas fa-star"></i>
                                                        <a href="?">0</a>
                                                    </span>
                                                </td>
                                                <td><a href="?">0</a></td>
                                                <td><a href="?">0</a></td>
                                                <td><a onclick="delete_subcatagory(`{% url 'del_subcat' ID=i.id %}`);" href="#"><i class="fas fa-trash-alt"></i></a></td>
                                            </tr>
                                            {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->

                        </div>
                        <div class="tab-pane fade" id="custom-tabs-one-messages" role="tabpanel" aria-labelledby="custom-tabs-one-messages-tab">
                            Morbi turpis dolor, vulputate vitae felis non, tincidunt congue mauris. Phasellus volutpat augue id mi placerat mollis. Vivamus faucibus eu massa eget condimentum. Fusce nec hendrerit sem, ac tristique nulla. Integer vestibulum orci odio. Cras nec augue
                            ipsum. Suspendisse ut velit condimentum, mattis urna a, malesuada nunc. Curabitur eleifend facilisis velit finibus tristique. Nam vulputate, eros non luctus efficitur, ipsum odio volutpat massa, sit amet sollicitudin est libero
                            sed ipsum. Nulla lacinia, ex vitae gravida fermentum, lectus ipsum gravida arcu, id fermentum metus arcu vel metus. Curabitur eget sem eu risus tincidunt eleifend ac ornare magna.
                        </div>
                        <div class="tab-pane fade" id="custom-tabs-one-settings" role="tabpanel" aria-labelledby="custom-tabs-one-settings-tab">
                            Pellentesque vestibulum commodo nibh nec blandit. Maecenas neque magna, iaculis tempus turpis ac, ornare sodales tellus. Mauris eget blandit dolor. Quisque tincidunt venenatis vulputate. Morbi euismod molestie tristique. Vestibulum consectetur dolor a
                            vestibulum pharetra. Donec interdum placerat urna nec pharetra. Etiam eget dapibus orci, eget aliquet urna. Nunc at consequat diam. Nunc et felis ut nisl commodo dignissim. In hac habitasse platea dictumst. Praesent imperdiet
                            accumsan ex sit amet facilisis.
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</div>

{% block javascript %} {{ block.super }}
<script src="{% static 'Plugins/jquery/jquery.min.js' %}"></script>
<!-- Toastr -->
<script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>
<script>
    //add catagory
    $(document).ready(function() {
        $('#save_subcat').css('display', 'none');
        let new_row = `<td class="px-1"> <span class="handle"> <i class="fas fa-ellipsis-v"></i> <i class="fas fa-ellipsis-v"></i> </span> </td> <td class="px-1"> <span class="text-success"> <i class="fas fa-power-off"></i> </span> </td> <td class="p-0 m-0"> <span> <img src="{% static 'dist/img/AdminLTELogo.png' %}" width="50" alt=""> </span> </td> <td class="border-right"> <input type="text" id="subcat_name" name="catagory" class="form-control"> </td> <td> <span> <i class="text-warning fas fa-star"></i> <a href="?">0</a> </span> </td> <td><a href="?">0</a></td> <td><a href="?">0</a></td> <td><a href="delete/2/"><i class="fas fa-trash-alt"></i></a></td>`

        $("#add_subcat").click(function() {
            $('#add_subcat').prop('disabled', 'true');
            $('#save_subcat').css('display', 'block');

            markup = "<tr> " + new_row + "</tr>";
            tableBody = $("table tbody");
            tableBody.prepend(markup);
        });

        $('#save_subcat').click(function() {
            var x = $('#subcat_name').val()
            var pathname = window.location.pathname;
            var parent_catagory = getLastPartOfUrl(pathname)

            if (x == '') {
                alert('Please enter catagory name!');
            } else {
                $.ajax({
                    type: "POST",
                    url: "{% url 'add_subcat' %}",
                    data: {
                        par_cat: parent_catagory,
                        catagory: x,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(res) {
                        if (res.success) {
                            location.reload();
                        } else {
                            alert("Not valid catagory name.")
                        }
                    }
                });
            }
        })
    })

    function getLastPartOfUrl(url) {
        var urlsplit = url.split("/");
        var lastpart = urlsplit[urlsplit.length - 1];
        if (lastpart === '') {
            lastpart = urlsplit[urlsplit.length - 2];
        }
        return lastpart;
    }

    // delete sub-catagory
    function delete_subcatagory(ID) {
        x = confirm('Do you want to Delete?')
        if (x) {
            $.ajax({
                type: "GET",
                url: ID,
                data: {},
                success: function(res) {
                    if (res.success) {
                        location.reload();
                    } else {
                        alert("Something went wrong!")
                    }
                }
            });
        }
    }

    //update form catagory-details
    $('#update_catagory').on('submit', function(event) {
        event.preventDefault();
        update_catagory();
    });

    function update_catagory() {
        var data = new FormData($('#update_catagory').get(0));
        data['csrfmiddlewaretoken'] = '{{ csrf_token }}'
        $.ajax({
            url: "",
            type: "POST",
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            success: function(res) {
                if (res.success) {
                    toastr.success('Successfully Updated!')
                } else {
                    toastr.warning('form is not valid!')
                }
            },
            // handle a non-successful response
            error: function(xhr, errmsg, err) {
                toastr.error('Error!.')
            }
        });
        return false;
    };
</script>
{% endblock javascript %} {% endblock content %}