{% extends 'lib/base.html' %} {% load static %} {% block title %} Catagory details {% endblock title %} {% block stylesheet %} {{ block.super }}
<link rel="stylesheet" href="{% static 'css/catalog/products.css' %}">
<!-- Select2 -->
<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
<!-- Toastr -->
<link rel="stylesheet" href="{% static 'plugins/toastr/toastr.min.css' %}"> {% endblock stylesheet %} {% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Products details</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Products details</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card card-primary card-tabs">
                <div class="card-header p-0 pt-1">
                    <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Basic info </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Prices & Inventory</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-one-messages-tab" data-toggle="pill" href="#custom-tabs-one-messages" role="tab" aria-controls="custom-tabs-one-messages" aria-selected="false">Shipping</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-one-settings-tab" data-toggle="pill" href="#custom-tabs-one-settings" role="tab" aria-controls="custom-tabs-one-settings" aria-selected="false">Related Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="product_review-tab" data-toggle="pill" href="#product_review" role="tab" aria-controls="product_review" aria-selected="false">Product Review</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="custom-tabs-one-tabContent">
                        <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                            <!-- Basic Info -->
                            <form id="product_basic_info" action="" enctype="multipart/form-data" method="POST" class="form-horizontal mx-5">
                                {% csrf_token %}
                                <div class="m-5">
                                    <div class="form-group row">
                                        <label for="prod_name" class="col-sm-2 col-form-label">Products Name <span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <input type="text" id="prod_name" name="prod_name" title="Product Name" class="form-control" value="{{product_basic_form.prod_name.value}}" placeholder="Product name">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="sku" class="col-sm-2 col-form-label">SKU <span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <input type="text" id="sku" name="sku" title="SKU" class="form-control" value="{{product_basic_form.sku.value}}" placeholder="SKU">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="catagory" class="col-sm-2 col-form-label">Category <span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <div class="select2-purple">
                                                <select id="catagory" name="catagory" multiple="multiple" data-placeholder="Select a State" class="select2" style="width: 100%;">
                                                {% for i in product_basic_form.catagory %}
                                                    {{i}}
                                                {% endfor %}
                                            </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="prod_img" class="col-sm-2 col-form-label">Product Image </label>
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="dropdown">
                                                        <img src="{{ product_basic_form.prod_img.value.url }}" alt="prod_img" class="brand-image cat_icon elevation-2" width="100">
                                                        <div class="dropdown-content">
                                                            <a href="{{ product_basic_form.prod_img.value.url }}" target="_blank" class="dropdown-item"> <i class="far fa-image"></i> View image</a>
                                                            <a><input type="file" name="prod_img" id="prod_img"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="allow_buyer_to_attach_file" class="col-sm-2 col-form-label">Allow buyers to attach files to this product</label>
                                        <div class="col-sm-10 pt-2">
                                            <label class="switch">
                                                <input id="allow_buyer_to_attach_file" name="allow_buyer_to_attach_file" type="checkbox">
                                                <span class="slider"></span>
                                              </label>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="is_avail_to_sell" class="col-sm-2 col-form-label">Available for sale</label>
                                        <div class="col-sm-10 pt-2">
                                            <label class="switch">
                                                <input id="is_avail_to_sell" name="is_avail_to_sell" type="checkbox">
                                                <span class="slider"></span>
                                              </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="desc" class="col-sm-2 col-form-label">Description</label>
                                        <div class="col-sm-10 pt-2">
                                            {{product_basic_form.prod_desc}}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <button class="btn btn-primary" type="submit">Update</button>
                                    </div>
                                </div>
                            </form>
                            <!-- /.basic info end -->
                        </div>
                        <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                            <!-- Price and Inventory -->
                            <form id="price_inventory" action="" method="POST" class="form-horizontal mx-5">
                                {% csrf_token %}
                                <div class="m-5">
                                    <div class="form-group row ">
                                        <label class="col-sm-2 col-form-label" for="price">Price<span class="required">*</span></label>
                                        <div class="col-sm-10">
                                            <input type="number" id="price" name="price" value="{{product_price_inventory_form.price.value}}" class="form-control" title="Price" placeholder="Product price ₹">
                                        </div>
                                    </div>
                                    <div class="form-group row ">
                                        <label class="col-sm-2 col-form-label" for="shippingprice">Sell Price<span class="required">*</span></label>
                                        <div class="col-sm-10">
                                            <input type="number" id="sell_price" name="sell_price" value="{{product_price_inventory_form.sell_price.value}}" class="form-control" title="Sell price" placeholder="Sell price ₹">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="arrival_date" class="col-sm-2 col-form-label">Date <span class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <input type="date" id="arrival_date" name="arrival_date" class="form-control" value="{{product_price_inventory_form.arrival_date.value}}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="is_inventory_track" class="col-sm-2 col-form-label">Inventory tracking</label>
                                        <div class="col-sm-10 pt-2">
                                            <label class="switch">
                                                <input id="is_inventory_track" name="is_inventory_track" type="checkbox">
                                                <span class="slider"></span>
                                              </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="quantity_in_stock" class="col-sm-2 col-form-label">Quantity stock</label>
                                        <div class="col-sm-10">
                                            <input type="number" id="quantity_in_stock" name="quantity_in_stock" value="{{product_price_inventory_form.quantity_in_stock.value}}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <button class="btn btn-primary" type="submit">Update</button>
                                    </div>
                                </div>
                            </form>
                            <!-- /.Price & inventory info end -->
                        </div>
                        <div class="tab-pane fade" id="custom-tabs-one-messages" role="tabpanel" aria-labelledby="custom-tabs-one-messages-tab">
                            <!-- Shipping -->
                            <form id="product_shipping" action="" method="POST" class="form-horizontal mx-5">
                                {% csrf_token %}
                                <div class="m-5">
                                    <div class="form-group row ">
                                        <label for="weight" class="col-sm-2 col-form-label">Weight<span class="required">*</span></label>
                                        <div class="col-sm-10">
                                            <input type="text" id="weight" name="weight" value="{{product_shipping_form.weight.value}}" class="form-control" title="Weight" placeholder="Weight">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="req_shipping" class="col-sm-2 col-form-label">Requires Shipping</label>
                                        <div class="col-sm-10 pt-2">
                                            <label class="switch">
                                                <input id="req_shipping" name="req_shipping" type="checkbox">
                                                <span class="slider"></span>
                                              </label>
                                        </div>
                                    </div>
                                    <div class="form-group row ">
                                        <label class="col-sm-2 col-form-label" for="shipping_price">Shipping Price<span class="required">*</span></label>
                                        <div class="col-sm-10">
                                            <input type="number" id="shipping_price" name="shipping_price" value="{{product_shipping_form.shipping_price.value}}" class="form-control" title="Shipping price ₹" placeholder="Shipping price ₹">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <button class="btn btn-primary" type="submit">Update</button>
                                    </div>
                                </div>
                            </form>
                            <!-- /.shipping end -->
                        </div>
                        <div class="tab-pane fade" id="custom-tabs-one-settings" role="tabpanel" aria-labelledby="custom-tabs-one-settings-tab">
                            <!-- Related product -->
                            <div class="mb-2">
                                <button id="add_subcat" class="btn btn-outline-primary border-secondary"> Add Related Product</button>
                                <button id="save_subcat" class="btn btn-danger float-right">Save</button>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">Related Products</div>
                                    <div class="card-tools">
                                        <div class="input-group input-group-sm" style="width: 150px;">
                                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body table-responsive p-0">
                                    <table class="table text-nowrap">
                                        <thead>
                                            <tr>
                                                <th>Product ID</th>
                                                <th>Product Name</th>
                                                <th>Date</th>
                                                <th>Category</th>
                                                <th>In Stock</th>
                                                <th>Sell Price</th>
                                                <th>SKU</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tboday">
                                            {% for i in related_products %}
                                            <tr>
                                                <td>{{i.id}}</td>
                                                <td><a href="{% url 'product_details' ID=i.id %}">{{i.prod_name}}</a></td>
                                                <td>{{i.arrival_date}}</td>
                                                <td>
                                                    {% for j in i.catagory.all %}
                                                    <li>{{j.cat_name}}</li> {% endfor %}
                                                </td>
                                                <td>{{i.quantity_in_stock}}</td>
                                                <td>{{i.sell_price}}</td>
                                                <td>{{i.sku}}</td>
                                                <td><a href="/delete/{{i.id}}"><i class="fa fa-trash-alt"></i></a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                            <!-- /.Related product end -->
                        </div>
                        <div class="tab-pane fade" id="product_review" role="tabpanel" aria-labelledby="product_review-tab">
                            <!-- product review -->
                            <div class="mb-2">
                                <button id="add_subcat" class="btn btn-outline-primary border-secondary"> New review</button>
                                <button id="save_subcat" class="btn btn-danger float-right">Save</button>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">Product Review</div>
                                    <div class="card-tools">
                                        <div class="input-group input-group-sm" style="width: 150px;">
                                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body table-responsive p-0">
                                    <table class="table text-nowrap">
                                        <thead>
                                            <tr>
                                                <th>Product ID</th>
                                                <th>Product Name</th>
                                                <th>Rating</th>
                                                <th>Reviewer Name</th>
                                                <th>Text of review:</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tboday">
                                            {% for i in product_reviews %}
                                            <tr>
                                                <td>{{i.id}}</td>
                                                <td><a href="{% url 'product_details' ID=i.id %}">{{i.prod_id.prod_name}}</a></td>
                                                <td>{{i.rating}}</td>
                                                <td>{{i.reviewer_name}}</td>
                                                <td>{{i.text_of_review}}</td>
                                                <td><a href="/delete/{{i.id}}"><i class="fa fa-trash-alt"></i></a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                            <!-- /.product review end -->
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</div>

{% block javascript %}
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Toastr -->
<script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>
<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>

<script>
    $('.select2').select2(); {
        /* $('#sellable').click(function () {
                    var attach_file = $('#sellable').is(":checked")
                    console.log(attach_file)
                }) */
    }
</script>

{% endblock javascript %} {% endblock content %}