{% extends 'lib/base.html' %} {% load static %} {% block title %} Catagory details {% endblock title %} {% block stylesheet %} {{ block.super }}
<link rel="stylesheet" href="{% static 'css/catalog/products.css' %}">
<!-- Select2 -->
<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
<!-- rating -->
<link rel="stylesheet" href="{% static 'plugins/star_rating/css/star-rating.min.css' %}">
<!-- Toastr -->
<link rel="stylesheet" href="{% static 'plugins/toastr/toastr.min.css' %}"> {% endblock stylesheet %} {% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Products details</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Products details</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card card-primary card-tabs">
                <div class="card-header p-0 pt-1">
                    <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Basic info </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Prices & Inventory</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-one-messages-tab" data-toggle="pill" href="#custom-tabs-one-messages" role="tab" aria-controls="custom-tabs-one-messages" aria-selected="false">Shipping</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-one-settings-tab" data-toggle="pill" href="#custom-tabs-one-settings" role="tab" aria-controls="custom-tabs-one-settings" aria-selected="false">Related Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="product_review-tab" data-toggle="pill" href="#product_review" role="tab" aria-controls="product_review" aria-selected="false">Product Review</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="custom-tabs-one-tabContent">
                        <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                            <!-- Basic Info -->
                            <form id="product_basic_info" action="" enctype="multipart/form-data" method="POST" class="form-horizontal mx-5">
                                {% csrf_token %}
                                <div class="m-5">
                                    <div class="form-group row">
                                        <label for="prod_name" class="col-sm-2 col-form-label">Products Name <span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <input type="text" id="prod_name" name="prod_name" title="Product Name" class="form-control" value="{{product_basic_form.prod_name.value}}" placeholder="Product name">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="sku" class="col-sm-2 col-form-label">SKU <span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <input type="text" id="sku" name="sku" title="SKU" class="form-control" value="{{product_basic_form.sku.value}}" placeholder="SKU">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="catagory" class="col-sm-2 col-form-label">Category <span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <div class="select2-purple">
                                                <select id="catagory" name="catagory" multiple="multiple" data-placeholder="Select a State" class="select2" style="width: 100%;">
                                                {% for i in product_basic_form.catagory %}
                                                    {{i}}
                                                {% endfor %}
                                            </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="prod_img" class="col-sm-2 col-form-label">Product Image </label>
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="dropdown">
                                                        <img src="{{ product_basic_form.prod_img.value.url }}" alt="prod_img" class="brand-image cat_icon elevation-2" width="100">
                                                        <div class="dropdown-content">
                                                            <a href="{{ product_basic_form.prod_img.value.url}}" target="_blank" class="dropdown-item"> <i class="far fa-image"></i> View image</a>
                                                            <a><input type="file" name="prod_img" id="prod_img"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="allow_to_attach_file" class="col-sm-2 col-form-label">Allow buyers to attach files to this product</label>
                                        <div class="col-sm-10 pt-2">
                                            <select name="allow_to_attach_file" id="allow_to_attach_file" class="form-control">
                                                {% for i in product_basic_form.allow_to_attach_file %} {{i}} {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="is_avail_to_sell" class="col-sm-2 col-form-label">Available for sale</label>
                                        <div class="col-sm-10 pt-2">
                                            <select name="is_avail_to_sell" id="is_avail_to_sell" class="form-control">
                                                {% for i in product_basic_form.is_avail_to_sell %} {{i}} {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="desc" class="col-sm-2 col-form-label">Description</label>
                                        <div class="col-sm-10 pt-2">
                                            {{product_basic_form.prod_desc}}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <button class="btn btn-primary" type="submit">Update</button>
                                    </div>
                                </div>
                            </form>
                            <!-- /.basic info end -->
                        </div>
                        <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                            <!-- Price and Inventory -->
                            <form id="price_inventory" action="" method="POST" class="form-horizontal mx-5">
                                {% csrf_token %}
                                <div class="m-5">
                                    <div class="form-group row ">
                                        <label class="col-sm-2 col-form-label" for="price">Price<span class="required">*</span></label>
                                        <div class="col-sm-10">
                                            <input type="number" id="price" name="price" value="{{product_price_inventory_form.price.value}}" class="form-control" title="Price" placeholder="Product price ₹">
                                        </div>
                                    </div>
                                    <div class="form-group row ">
                                        <label class="col-sm-2 col-form-label" for="shippingprice">Sell Price<span class="required">*</span></label>
                                        <div class="col-sm-10">
                                            <input type="number" id="sell_price" name="sell_price" value="{{product_price_inventory_form.sell_price.value}}" class="form-control" title="Sell price" placeholder="Sell price ₹">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="arrival_date" class="col-sm-2 col-form-label">Date <span class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <input type="date" id="arrival_date" name="arrival_date" class="form-control" value="{{product_price_inventory_form.arrival_date.value}}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="is_inventory_track" class="col-sm-2 col-form-label">Inventory tracking</label>
                                        <div class="col-sm-10 pt-2">
                                            <select name="is_inventory_track" id="is_inventory_track" class="form-control">
                                                {% for i in product_price_inventory_form.is_inventory_track %} {{i}} {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="quantity_in_stock" class="col-sm-2 col-form-label">Quantity stock</label>
                                        <div class="col-sm-10">
                                            <input type="number" id="quantity_in_stock" name="quantity_in_stock" value="{{product_price_inventory_form.quantity_in_stock.value}}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <button class="btn btn-primary" type="submit">Update</button>
                                    </div>
                                </div>
                            </form>
                            <!-- /.Price & inventory info end -->
                        </div>
                        <div class="tab-pane fade" id="custom-tabs-one-messages" role="tabpanel" aria-labelledby="custom-tabs-one-messages-tab">
                            <!-- Shipping -->
                            <form id="product_shipping" action="" method="POST" class="form-horizontal mx-5">
                                {% csrf_token %}
                                <div class="m-5">
                                    <div class="form-group row ">
                                        <label for="weight" class="col-sm-2 col-form-label">Weight<span class="required">*</span></label>
                                        <div class="col-sm-10">
                                            <input type="text" id="weight" name="weight" value="{{product_shipping_form.weight.value}}" class="form-control" title="Weight" placeholder="Weight">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="req_shipping" class="col-sm-2 col-form-label">Requires Shipping</label>
                                        <div class="col-sm-10 pt-2">
                                            <select name="req_shipping" id="req_shipping" class="form-control">
                                            {% for i in product_shipping_form.req_shipping %} {{i}} {% endfor %}
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group row ">
                                        <label class="col-sm-2 col-form-label" for="shipping_price">Shipping Price<span class="required">*</span></label>
                                        <div class="col-sm-10">
                                            <input type="number" id="shipping_price" name="shipping_price" value="{{product_shipping_form.shipping_price.value}}" class="form-control" title="Shipping price ₹" placeholder="Shipping price ₹">
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <button class="btn btn-primary" type="submit">Update</button>
                                    </div>
                                </div>
                            </form>
                            <!-- /.shipping end -->
                        </div>
                        <div class="tab-pane fade" id="custom-tabs-one-settings" role="tabpanel" aria-labelledby="custom-tabs-one-settings-tab">
                            <!-- Related product -->
                            <div class="mb-2">
                                <button id="add_subcat" class="btn btn-outline-primary border-secondary" data-toggle="modal" data-target="#add_related"> Add Related Product</button>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">Related Products</div>
                                    <div class="card-tools">
                                        <div class="input-group input-group-sm" style="width: 150px;">
                                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body table-responsive p-0">
                                    <table class="table text-nowrap">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Date</th>
                                                <th>Product Name</th>
                                                <th>Category</th>
                                                <th>In Stock</th>
                                                <th>Sell Price</th>
                                                <th>SKU</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tboday">
                                            {% for i in related_products %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{i.rel_prod.arrival_date|date:"d-m-Y"}}</td>
                                                <td><a href="#">{{i.rel_prod.prod_name}}</a></td>
                                                <td>
                                                    {% for j in i.rel_prod.catagory.all %}
                                                    <li>{{j.cat_name}}</li> {% endfor %}
                                                </td>
                                                <td>{{i.rel_prod.quantity_in_stock}}</td>
                                                <td>{{i.rel_prod.sell_price}}</td>
                                                <td>{{i.rel_prod.sku}}</td>
                                                <!-- send rel id and page id -->
                                                <td><a onclick="delete_related(`{% url 'del_rel_product' ID=i.id current_page=current_id %}`)" href="#"><i class="fa fa-trash-alt"></i></a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                            <!-- /.Related product end -->
                        </div>
                        <div class="tab-pane fade" id="product_review" role="tabpanel" aria-labelledby="product_review-tab">
                            <!-- product review -->
                            <div class="mb-2">
                                <button id="add_subcat" class="btn btn-outline-primary border-secondary" data-toggle="modal" data-target="#add_review"> New review</button>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">Product Review</div>
                                    <div class="card-tools">
                                        <div class="input-group input-group-sm" style="width: 150px;">
                                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body table-responsive p-0">
                                    <table class="table text-nowrap">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Date</th>
                                                <th>Product Name</th>
                                                <th>Rating</th>
                                                <th>Reviewer Name</th>
                                                <th>Text of review:</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tboday">
                                            {% for i in product_reviews %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{i.date}}</td>
                                                <td><a href="#">{{i.prod_id.prod_name}}</a></td>
                                                <td>{{i.rating}}</td>
                                                <td>{{i.reviewer_name}}</td>
                                                <td>{{i.text_of_review}}</td>
                                                <td><a href="{% url 'del_prod_review' ID=i.id current_page=current_id %}"><i class="fa fa-trash-alt"></i></a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                            <!-- /.product review end -->
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</div>

<!-- add Related fields -->
<div class="modal fade" id="add_related" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Related Products</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="search">
                    {% csrf_token %}
                    <div class="form-group row p-2" style="background-color: #eff8fe;">
                        <div class="col-sm-6">
                            <input type="text" id="search_rel_prod" value=" " class="form-control" placeholder="Search keywords">
                        </div>
                        <div class="col-sm-3 mx-1">
                            <select id="cat" class="form-control">
                                    {% for i in catagory_form.par_cat %}
                                        {{i}}
                                    {% endfor %}
                                </select>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-outline-primary btn-block" onclick="search_products()">Search</button>
                        </div>
                    </div>
                </div>
                <table class="table text-nowrap">
                    <thead class="bg-light">
                        <tr>
                            <th>
                                <input type="checkbox" id="select_all_rel_prod">
                            </th>
                            <th>Product Name</th>
                            <th>Date</th>
                            <th>Category</th>
                            <th>In Stock</th>
                            <th>Sell Price</th>
                            <th>SKU</th>
                        </tr>
                    </thead>
                    <tbody id="search_result">
                        {% for i in all_products %}
                        <tr>
                            {% if i.id == current_id %}
                            <td>
                                <i class="text-secondary fas fa-check-circle"></i>
                            </td>
                            {% else %}
                            <td>
                                <input type="checkbox" name="select_product_id" id="{{i.id}}">
                            </td>
                            {% endif %}
                            <td><a href="{% url 'product_details' ID=i.id %}">{{i.prod_name}}</a></td>
                            <td>{{i.arrival_date}}</td>
                            <td>
                                {% for j in i.catagory.all %}
                                <li>{{j.cat_name}}</li> {% endfor %}
                            </td>
                            <td>{{i.quantity_in_stock}}</td>
                            <td>{{i.sell_price}}</td>
                            <td>{{i.sku}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="add_products()">Add Products</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- add Related fields -->
<div class="modal fade" id="add_review" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Product Review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form id="product_review_form" action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group row" hidden>
                        <label for="prod_name" class="col-sm-2 col-form-label">Product Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="prod_id" value="{{current_id}}" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="prod_name" class="col-sm-2 col-form-label">Product Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="prod_nam" value="{{product_basic_form.prod_name.value}}" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="rating" class="col-sm-2 control-label">Rating</label>
                        <div class="col-sm-10">
                            <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                                <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
                                <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
                                <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
                                <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
                                <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="reviewer_name" class="col-sm-2 col-form-label">Reviewer Name</label>
                        <div class="col-sm-10">
                            <input type="text" name="reviewer_name" class="form-control" id="reviewer_name" value="">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="text_of_review" class="col-sm-2 col-form-label">Comment</label>
                        <div class="col-sm-10">
                            <textarea name="text_of_review" id="" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary" type="submit">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% block javascript %}
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Toastr -->
<script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>
<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>

<script>
    $('.select2').select2();
    var id_list = []

    $('#select_all_rel_prod').click(function(e) {
        var table = $(e.target).closest('table');
        $('td input:checkbox', table).prop('checked', this.checked);
    });

    // get selected IDs and send add request
    function add_products() {
        $.each($("input[name='select_product_id']:checked"), function() {
            id_list.push($(this).attr('id'));
        });
        //send back
        $.ajax({
            type: "POST",
            url: "{% url 'add_rel_product' product_id=current_id %}",
            data: {
                prod_id_list: id_list.toString(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                if (data.success) {
                    toastr.success('Successfully Updated!')
                    location.reload()
                } else {
                    toastr.warning('Form not valid!')
                }
            }
        });
        console.log(id_list)
        id_list = []
    }

    // delete
    function delete_related(ID) {
        x = confirm('Do you want to Delete?')
        if (x) {
            window.location.href = ID;
        }
    }

    // search product
    function search_products() {
        $('#search_result tr').remove();

        search_text_value = $('#search_rel_prod').val();
        $.ajax({
            type: 'POST',
            url: "{% url 'search_rel_products' %}",
            data: {
                search_text: search_text_value.trim(),
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            'success': function(res) {
                console.log(res)
                var obj = res;
                var tbody = $('#search_result');

                $('#search_result').each(function(key, el) {
                    for (var i = 0; i < obj.length; i++) {
                        $(this).append(`<tr> <td> <input type='checkbox' name='select_product_id' id='${obj[i].id}'> </td> <td>${obj[i].prod_name}</td> <td>${obj[i].arrival_date}</td> <td>..</td> <td>${obj[i].quantity_in_stock}</td> <td>${obj[i].sell_price}</td> <td>${obj[i].sku}</td> </tr>`);
                    }
                });
            }
        });
    }

    // product review form submission
    var prod_review_form = $('#product_review_form');
    prod_review_form.submit(function() {
        $.ajax({
            type: prod_review_form.attr('method'),
            url: prod_review_form.attr('action'),
            data: prod_review_form.serialize(),
            success: function(data) {
                //alert(data.success)
                if (data.success) {
                    toastr.success('Successfully Updated!')
                    location.reload()
                } else {
                    toastr.warning('Form not valid!')
                }
            },
            error: function(data) {
                toastr.error('Form error!')
            }
        });
        return false;
    });



    // product basic info
    var frm1 = $('#product_basic_info');
    frm1.submit(function(e) {
        $.ajax({
            type: frm1.attr('method'),
            url: frm1.attr('action'),
            data: frm1.serialize(),
            success: function(data) {
                //alert(data.success)
                if (data.success) {
                    toastr.success('Successfully Updated!')
                    location.reload()
                } else {
                    toastr.warning('Form not valid!')
                }
            },
            error: function(data) {
                toastr.error('Form Error!')
            }
        });
        return false;
    });

    // product price inventory
    var frm2 = $('#price_inventory');
    frm2.submit(function(e) {
        $.ajax({
            type: frm2.attr('method'),
            url: frm2.attr('action'),
            data: frm2.serialize(),
            success: function(data) {
                //alert(data.success)
                if (data.success) {
                    toastr.success('Successfully Updated!')
                    location.reload()
                } else {
                    toastr.warning('Form not valid!')
                }
            },
            error: function(data) {
                toastr.error('Form error!')
            }
        });
        return false;
    });

    // product shipping
    var frm3 = $('#product_shipping');
    frm3.submit(function(e) {
        $.ajax({
            type: frm3.attr('method'),
            url: frm3.attr('action'),
            data: frm3.serialize(),
            success: function(data) {
                //alert(data.success)
                if (data.success) {
                    toastr.success('Successfully Updated!')
                    location.reload()
                } else {
                    toastr.warning('Form not valid!')
                }
            },
            error: function(data) {
                toastr.error('Form error!')
            }
        });
        return false;
    });
</script>

{% endblock javascript %} {% endblock content %}